# JoinProtection by rockquiet
plugin:
  # if the plugin should search for updates on server start
  update-checks: true
  # a list of worlds where the plugin should or should not work
  # DISABLED: world-list is not used
  # BLACKLIST: the plugin will not work in worlds listed below
  # WHITELIST: the plugin will only work in worlds listed below
  list-type: disabled
  world-list:
    - ExampleEntryForWorldList
    - AnotherExampleWorld
  # join protection time in seconds
  # add NUMBER amount of seconds to a player: joinprotection.plus-NUMBER
  protection-time: 10
  # also protect players that switch worlds (i.e. go through a nether portal)
  # set this to 0 to disable
  world-change-protection-time: 0
  # only give join protection to players who are joining the server for the first time.
  first-join-only: false

display:
  # where to display the remaining time, etc.
  # allowed: ACTION_BAR, TITLE, SUBTITLE, CHAT
  location: ACTION_BAR
  # title display time in ticks
  title:
    fade-in: 0
    stay: 20
    fade-out: 20

# cancel active protection
cancel:
  # if attacking an entity
  on-attack: true
  # if player moved (or changes their world)
  on-move:
    enabled: true
    # if the y-axis should be ignored
    ignore-y-axis: true
    # distance the player is allowed to move without cancelling
    distance: 3.0
  # if player breaks/places blocks
  on-block-interact: false

# when the player is...
modules:
  # ...damaged by an entity
  disable-damage-by-entities: true
  # ...damaged by a block
  disable-damage-by-blocks: false
  # ...damaged by whatever not cancelled by the first two (fall damage, etc.)
  disable-damage: false
  # ...targeted by an entity
  disable-entity-targeting:
    enabled: true
    # this is the range used to clear entity targets on world change
    horizontal-range: 16.0
    vertical-range: 16.0
  # do not allow the player to drop items
  disable-item-drops: false
  # do not allow the player to pickup items
  disable-item-pickup: false

# particle aura around player with active protection
particles:
  enabled: true
  # if the server MSPT take longer than this value, particles will no longer be displayed
  # INFO: this is not supported on spigot servers
  maximum-mspt: 50.0
  # all particles: https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Particle.html
  # good-looking particles / display duration:
  # mid: WAX_ON, WAX_OFF, ENCHANTMENT_TABLE
  # long: VILLAGER_HAPPY
  type: ENCHANTMENT_TABLE
  # the number of particles which get used
  amount: 1
  # how often the particles refresh (in ticks)
  refresh-rate: 4
  # particle aura size
  circles: 4

# plays a sound to players attacking others with active protection
sound:
  enabled: true
  # all sounds: https://docs.andre601.ch/Spigot-Sounds/sounds
  type: ITEM_SHIELD_BLOCK
  # the volume of the sound
  volume: 0.8
  # the pitch of the sound
  pitch: 1.0

messages:
  prefix: "<gray>[</gray><gradient:#7287fd:#04a5e5>JoinProtection</gradient><gray>]</gray>"
  noPerms: "<prefix> <red>No permissions!"
  commandUsage: "<prefix> <red>Usage: /<command_usage>"
  playerNotFound: "<prefix> <red>Target player <dark_red><player> <red>not found!"
  invalidNumberFormat: "<prefix> <red>The specified number <dark_red><number> <red>is invalid!"
  numberMustBePositive: "<prefix> <red>The specified number <dark_red><number> <red>must be positive!"
  alreadyProtected: "<prefix> <dark_red><player> <red>is already protected!"
  protect: "<prefix> <yellow><player> <green>is now protected for <yellow><time><green>s."
  reload: "<prefix> <green>Configuration reloaded successfully."
  type:
    join: "<gradient:#7287fd:#04a5e5>Join Protection</gradient>"
    world: "<gradient:#2ab52a:#39d19b>World Protection</gradient>"
    command: "<gradient:#ea6ffd:#a775e0>Protection</gradient>"
  timeRemaining: "<type> <dark_gray><b>»</b> <white><time><gray>s"
  protectionEnded: "<type> <dark_gray><b>»</b> <gradient:#e64553:#d20f39>Elapsed!</gradient>"
  protectionDeactivated: "<type> <dark_gray><b>»</b> <gradient:#e64553:#d20f39>Disabled!</gradient>"
  protectionDeactivatedAttack: "<type> <dark_gray><b>»</b> <gradient:#e64553:#d20f39>Disabled because of your attack!</gradient>"
  cannotHurt: "<prefix> <gray>You cannot hurt <white><player> <gray>while they have active protection."

# Toggle/Configure integrations into other plugins here.
integration:
  # https://www.spigotmc.org/resources/placeholderapi.6245
  placeholderapi:
    enabled: true
    # %joinprotection_status% - displays current protection status of the player
    status:
      not-protected: ""
      protected: " &8| &7Protected"
  # https://modrinth.com/plugin/miniplaceholders
  miniplaceholders:
    enabled: true
    # <joinprotection_status> - displays current protection status of the player
    status:
      not-protected: ""
      protected: " <dark_gray>| <gray>Protected"
  # https://luckperms.net
  luckperms:
    enabled: true

# do not edit/remove this
file-version: 2